SportsStore.WebUI/scripts/* linguist-vendored
SportStore.Domain/Scripts/* linguist-vendored
SportStore.Domain/* linguist-vendored
packages/* linguist-vendored
SportsStore.WebUI/Views/* linguist-vendored
